<div id="product_question" class="product_question">
	<div class="product">
		<div class="pimage"><img src='{{var product_image}}'></div>
		<div class="title"><a href="{{var product_url}}">{{var product_name}}</a></div>
	</div>
	<div class="qheader">
		<div class="qtitle">
			<h3><a href="#">{{var question}}</a></h3>
		</div>
		<div class="date-n-customer-name">
			<div class="name"><span>{{var question_username}}</span></div>
			<div class="date"><span>{{var question_date}}</span></div>
		</div>
	</div>
	<div class="answers">
		<ul>
			<li>
			<div class="amswer ">
				<div class="ansheader">
					<div class="anstitle">{{var new_answer}}</div>
					<div class="date-n-customer-name">
						<div class="name"><span>{{var new_answer_username}}</span></div>
						<div class="date"><span>{{var new_answer_date}}</span></div>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>