<?xml version="1.0"?>
<!--
 /**
 * @category  BhavinProduct Question Answser
 * @package   Bhavin_ProductQA
 * @copyright Copyright (c) 2019 Bhavin
 * @author    Bhavin
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	
	<virtualType name="BhavinProductQAGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>	
	
	<!-- Start Product Question Settigns XML-->
	<virtualType name="BhavinProductQAQuestionGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Bhavin\ProductQA\Model\ResourceModel\Question\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BhavinProductQAGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<type name="Bhavin\ProductQA\Model\ResourceModel\Question\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">bhavin_product_question</argument>
            <argument name="eventPrefix" xsi:type="string">bhavin_productqa_question_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">product_question_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Bhavin\ProductQA\Model\ResourceModel\Question</argument>
        </arguments>
    </type>
	<!-- End Product Question Settigns XML-->
	
	<!-- Start Product Answer Settigns XML-->
	<virtualType name="BhavinProductQAQuestionAnswerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Bhavin\ProductQA\Model\ResourceModel\QuestionAnswer\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BhavinProductQAGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<type name="Bhavin\ProductQA\Model\ResourceModel\QuestionAnswer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">bhavin_productanswer</argument>
            <argument name="eventPrefix" xsi:type="string">bhavin_productqa_productanswer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productanswer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Bhavin\ProductQA\Model\ResourceModel\QuestionAnswer</argument>
        </arguments>
    </type>
	<!-- End  Product Answer Settigns XML-->
	
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
				<item name="bhavin_productqa_question_listing_data_source" xsi:type="string">Bhavin\ProductQA\Model\ResourceModel\Question\Grid\Collection</item>				
				<item name="bhavin_productqa_questionanswer_listing_data_source" xsi:type="string">Bhavin\ProductQA\Model\ResourceModel\QuestionAnswer\Grid\Collection</item>				
            </argument>
        </arguments>
    </type>
	
</config>
